# Postgres credentials
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# Airflow admin credentials
AIRFLOW_ADMIN_USER=your_airflow_admin_user
AIRFLOW_ADMIN_FIRSTNAME=your_firstname
AIRFLOW_ADMIN_LASTNAME=your_lastname
AIRFLOW_ADMIN_EMAIL=your_email@example.com
AIRFLOW_ADMIN_PASSWORD=your_airflow_password

# OpenSky credentials
OPENSKY_CLIENT_ID=your_opensky_client_id
OPENSKY_CLIENT_SECRET=your_opensky_client_secret

# Snowflake credentials
SNOWFLAKE_ACCOUNT=your_snowflake_account
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ROLE=your_snowflake_role
SNOWFLAKE_WAREHOUSE=WH_AIRPORT_TRAFFIC
SNOWFLAKE_DATABASE=AIRPORT_TRAFFIC_DB
SNOWFLAKE_SCHEMA=BRONZE
